<div class="row">
 <div class="col"></div>
 <div class="col-10">
   <% if @model == 'user' %>
	   <h3 style="margin: 20px auto;">ユーザー検索　"<%= @content %>"</h3>
     <table class='table table-hover'>
      <thead>
       <tr>
        <th></th>
        <th>ニックネーム</th>
        <th>自己紹介</th>
        <th colspan="3"></th>
       </tr>
      </thead>
      <tbody>
       <% @records.each do |user| %>
       <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",size: "50x50") %></td>
        <td><%= user.name %></td>
        <td><%= truncate(user.introduction) %></td>
        <td><%= link_to '詳細', user_path(user), class: "btn btn-sm", style: "background-color: #90ee90; color: black;"%></td>
       </tr>
       <% end %>
      </tbody>
     </table>
   <% elsif @model == 'post' %>
	   <h3>投稿検索　 "<%= @content %>"</h3>
     <table class='table table-hover'>
      <thead>
       <tr>
        <th></th>
        <th>投稿ユーザー</th>
        <th>タイトル</th>
        <th>投稿内容</th>
        <th>いいね数</th>
       </tr>
      </thead>
     <tbody>
     <% @records.each do |post| %>
      <tr>
        <td><%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",size: "50x50") %></td>
        <td><%= link_to user_path(post.user), style: "color: black;" do %>
          <%= post.user.name %>
          <% end %>
        </td>
        <td><%= link_to post.title, post_path(post), class: "post_#{post.id}" %></td>
        <td><%= truncate(post.body) %></td>
        <td>♥ <%= post.favorites.count %></td>
      </tr>
    <% end %>
    </tbody>
   </table>
  <% end %>
 </div>
 <div class="col"></div>
</div>