<% post.post_comments.each do |post_comment| %>
  <div class="row">
    <div class="col-2">
        <%= link_to user_path(post_comment.user) do %>
        <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.jpg", size: '50x50' %>
          <%= post_comment.user.name %>
        <% end %>
    </div>
    <div class="col-10">
        <%= post_comment.comment %><br>
      <p style="text-align: right;">
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>

          <% if post_comment.user == current_user %>
            <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true do %>
              <i class="fas fa-trash-alt" style="color: gray;"></i>
            <% end %>
          <% end %>
      </p>

    </div>
  </div>
  <hr>
<% end %>