
<div class="form">

  <div class="row">
    <div class="col"></div>
      <div class="col">

        <h3 style="margin: 20px;">新規会員登録</h3>


      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= devise_error_messages %>

          <div class="field">
            <%= f.label :ニックネーム, class: "mt-3 mr-5" %><br  />
            <%= f.text_field :name, autofocus: true, placeholder: "ぬまぬし", size: "30" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス, class: "mt-3 mr-5" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", size: "30" %>
          </div>

          <div class="field">
            <%= f.label :パスワード（６文字以上）, class: "mt-3 mr-5" %><br />
            <%= f.password_field :password, autocomplete: "new-password", size: "30" %>
          </div>

          <div class="field">
             <%= f.label :パスワード（確認）, class: "mt-3 mr-5" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "30" %>
    　　　　　</div>

          <div class="field">
            <p><%= f.check_box :agreement_terms, :as => :boolean, checked: false, class: "my-4" %>
                <%= link_to "利用規約", guideline_path %>と<%= link_to "プライバシーポリシー", privacy_path %> に同意する</p>
          </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>

    <p style="text-align: center; margin: 30px auto;">
      すでに会員の方は<%= link_to "こちら", new_user_session_path %>からログイン
    </p>

      </div>
    <div class="col"></div>
  </div>
</div>