<div class="posts">
  <h3 style="margin: 20px;">
    <i class="fas fa-ghost"></i>  投稿一覧
  </h3>

  <div class="row">
    <% posts.each do |post| %>
      <div class="card" style="width: 18%; margin: 10px;">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag(post, :image, :fill, 300, 300, class: 'card-img-top rounded', fallback: "no_image.jpg") %>
        <% end %>
        <div class="card-body">
          <div class="card-title">
            <%= link_to post_path(post.id), style: "color: black;" do %>
            <i class="fas fa-ghost"></i>
            <%= post.title %>
            <% end %>
          </div>
            <p class="card-text">
              <small><%= truncate(post.body) %></small>
            </p>
          <div class="profile_image">
            <%= link_to user_path(post.user), style: "color: gray;" do %>
              <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", size:"30x30" %>
              <%= post.user.name %>
            <% end %>
          </div>
          <p class="card-text text-right">
            <small class="text-muted">
              <%= post.created_at.strftime('%Y/%m/%d') %> |
              <%= render 'user/post_comments/count', post: post %> |

            <% if post.favorited_by?(current_user) %>
              ♥<%= post.favorites.count %>
            <% else %>
              ♡<%= post.favorites.count %>
            <% end %></small>
          </p>
        </div>
      </div>
    <% end %>
   </div>