<div class="main">
<div class="row">
  <div class="col"></div>
    <div class="col-auto">
      <h3 style="margin: 20px;">プロフィール編集</h3>
      <div style="text-center: left; margin: 20px;">

      <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', model: f.object %>
　        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100"%>
      <table>
　       <tr>
　         <th><%= f.label :プロフィール画像, class: "mt-3 mr-5" %></th>
　         <td><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
　       </tr>
　       <tr>
　         <th><%= f.label :ニックネーム, class: "mt-3 mr-5" %></th>
　         <td><%= f.text_field :name, autofocus: true, id:"inputName" %></td>
　       </tr>
         <tr>
           <th><%= f.label :自己紹介, class: "mt-3 mr-5" %></th>
           <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", size: "50" %></td>
         </tr>
         <tr>
           <th><%= f.label :誕生日, class: "mt-3 mr-5" %></th>
           <td><%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %></td>
         </tr>
         <tr>
           <th></th>
           <td><%= f.submit "プロフィールを更新する", class: "btn", style: "background-color: #6EC388; color: white;" %>
            <%= link_to '退会する',unsubscribe_user_path,class:"btn ml-5", style: "background-color: #FBE929; color: black;" %></td>
         </tr>
      </table>
      <% end %>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
