<h1>マイページ</h1>
<%= link_to "プロフィールを編集する", edit_user_path, class: "btn btn-success" %>
<div class="image">
<%= attachment_image_tag @user, :profile_image, :fill, 10, 10, format: 'jpeg', fallback: "no_image.jpg"%>
</div>
<h3>ニックネーム</h3>
<%= @user.name %>
<h3>自己紹介</h3>
<%= @user.introduction %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>誕生日</h3>
<%= @user.birth_date %>
