<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-auto">
      <h3 style="margin: 20px;">カテゴリー一覧</h3>

      <%= form_with url: admin_categories_path, local:true do |f| %>
        <%= f.label :name, 'カテゴリー名' %>
        <%= f.text_field :name %>
        <%= f.submit '登録' %>
      <% end %>

      <table class="table" >
        <thead>
          <tr>
            <th>カテゴリー名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "削除", admin_category_path(category.id), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @categories %>
    </div>
    <div class="col"></div>
  </div>
</div>