<div class="card w-50 mx-auto my-4">
  <div class="card-text m-2">
    <%= link_to user_path(@user) do %>
    <%= attachment_image_tag @post.user, :profile_image, fallback: "no_image.jpg", size: '50x50' %>
    <span><%= @user.name %> </i></span>
    <% end %>
    <% if @post.user == current_user %>
      <%= link_to "記事編集", edit_post_path(@post.id), class: "btn btn-success btn-sm mx-2" %>
      <%= link_to "記事削除", post_path, method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-dark btn-sm" %>
    <% end %>
  </div>

    <!--投稿画像-->
    <%= attachment_image_tag @post, :image, :fill, 300, 200 %>

    <!--投稿本文-->
    <div class="card-body">
      <div class="card-title">
        <%= @post.title %>
      </div>

      <%#= @post.category %>

      <div class="card-text my-2">
        <%= @post.body %>
      </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <span><%= @post.created_at.strftime('%Y/%m/%d') %> 投稿 |</span>
      <span><i class="fa fa-comment"> <%= @post.post_comments.count %> </i></span>
      <span>| <i class="fa fa-heart"></i></span>
    </div>
  </div>
  <hr>
    <div>
      <% @post.post_comments.each do |post_comment| %>
        <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.jpg", size: '50x50' %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <%= post_comment.user.name %>
        <hr>
      <% end %>
      <%# if @post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
      <%# end %>
      </div>
      <div>
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
        <%= f.text_area :comment, placeholder: "コメント", size: "30" %>
        <%= f.submit "送信する", class: "btn btn-success" %>
        <% end %>
      </div>




</div>
</div>