<div class="container">
  <div class="row">
    <h3 style="margin: 20px;">登録会員一覧</h3>
     <table class="table">
      <thead>
       <tr>
        <th scope="col">会員ID</th>
        <th scope="col"></th>
        <th scope="col">ニックネーム</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
        <th scope="col"></th>
       </tr>
     </thead>

     <tbody>

       <% @users.each do |user| %>
       <tr>
        <td><%= user.id %></td>
        <td><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "30x30" %></td>
        <td><p><%= user.name %></p></td>
        <td><%= user.email %></td>
        <% if user.is_deleted == false %>
          <td><strong><p class="text-success">有効</p></strong></td>
        <% else %>
          <td><strong><p class="text-secondary">退会</p></strong></td>
        <% end %>
        <td><p><%= link_to "詳細",admin_user_path(user.id) %></p></td>
      </tr>
        <% end %>
     </tbody>
    </table>
  </div>
</div>
