<div class="row">
  <div class="col"></div>
    <div class="col-auto">
      <h3 style="margin: 20px; text-align: center;">会員詳細</h3>
        <div style="text-align: center; margin: 20px;">
          <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
        </div>

        <p>ニックネーム：
            <%= @user.name %></p>
          <p>自己紹介：
            <%= @user.introduction %></p>
          <p>メールアドレス：
            <%= @user.email %></p>
          <p>誕生日：
            <%= @user.birth_date %></p>

          <%= form_with model:@user, url: "/admin/users/#{@user.id}", local:true do |f| %>
          <p>会員ステータス</p>
          　　　　<%= f.radio_button :is_deleted, false %>
                <%= f.label :is_deleted, "有効", value: false %>
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, "無効", value: true %>
                <%= f.submit '変更を保存',class:"btn btn-success" %>
          <% end %>
           </div>
        <div class="col"></div>
      </div>