<div id="header" class="sticky-top">
    <nav class="navbar navbar-expand-lg text-dark" >
        <div class="container">
          <%= link_to image_tag("logo.png", size: "140x100"), root_path, data: {"turbolinks" => false} %>
          <div class="navbar navbar-light">
            <div class="container d-flex justify-content-between">
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
              <!--管理者側ログイン後メニュー-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_users_path, class: "nav-link text-dark" do %>
                会員一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_posts_path, class: "nav-link text-dark" do %>
                投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_categories_path, class: "nav-link text-dark" do %>
                カテゴリ一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, class: "nav-link text-dark", method: :delete do %>
                ログアウト
                <% end %>
              </li>

              <!--会員側ログイン後メニュー-->
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: "nav-link text-dark" do %>
                マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_post_path, class: "nav-link text-dark" do %>
                投稿する
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path, class: "nav-link text-dark" do %>
                投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: "nav-link text-dark", method: :delete do %>
                ログアウト
                <% end %>
              </li>

              <!-- 会員側ログイン前メニュー -->
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link text-dark" do %>
                新規会員登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link text-dark" do %>
                ログイン
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to homes_guest_sign_in_path, method: :post, class: "nav-link text-dark" do %>
                ゲストログイン（閲覧用）
              </li>
              <% end %>
            <% end %>

            <!-- 検索窓　-->
            </ul>
            <% if user_signed_in? %>
            <div class="search-form">
              <%= form_with url: search_searches_path, method: :get, local: true do |f| %>
                <%= f.text_field :content %>
                <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿タイトル" => "post" }) %>
                <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
                <%= f.submit '検索' %>
              <% end %>
            </div>
            　<% end %>
           </div>
         </div>
    </nav>
</div>