<!DOCTYPE html>
<html>
  <head>
    <title>Nuuma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/35d3da8b06.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class="contaier">
        <!--<p id="notice"><%= notice %></p>-->
        <%= yield %>
     </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
